/* MIXINS */
/* As hex codes */
/* Main Primary color */
/* As RGBa codes */
/* Main Primary color */
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-size: 20px;
  color: #3E3E3E;
}
@media  only screen and (min-width: 601px) {
  body {
    background: #E8E6E5;
  }
}
.container {
  background: #ffffff;
  position: relative;
  margin: 0 auto;
  max-width: 601px;
  min-width: 320px;
  height: 100%;
}
@media  only screen and (min-width: 601px) {
  .container {
    border: 1px solid #BABABA;
    margin-top: 40px;
    border-bottom: none;
  }
}
header {
  overflow: hidden;
  height: 50px;
  background: #E8E6E5;
}
header h1 {
  font-size: 20px;
  text-align: center;
  padding: 15px 0;
  margin: 0;
}
#canvas {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.tile {
  text-align: center;
}
.tile i.fa {
  display: none;
}
.tile.rock i.fa-hand-rock-o {
  display: block;
}
.tile.scissors i.fa-hand-peace-o {
  display: block;
}
.tile.paper i.fa-hand-paper-o {
  display: block;
}
#current i {
  font-size: 160px;
  width: 100%;
  height: 240px;
  line-height: 240px;
}
#results {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
#results li.tile {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 17%;
  max-width: 80px;
  overflow: hidden;
  height: 50px;
}
#results li.tile i {
  font-size: 30px;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
#results li.tile.active {
  background: #E8E6E5;
}
button {
  border: none;
  padding: 10px 0;
  margin: 0;
  background: transparent;
  color: #6E6E6E;
  font-size: 15px;
  width: 25%;
  max-width: 80px;
}
button:hover {
  cursor: pointer;
  background: #e0e0e0;
}
button i.fa {
  font-size: 25px;
  line-height: 40px;
  display: block;
  font-style: normal;
}
#action {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  padding-bottom: 35px;
  background: #E8E6E5;
  width: 100%;
  border: 1px solid #BABABA;
  border-left: none;
  border-right: none;
  margin: 40px 0 0 0;
  text-align: right;
}
@media  only screen and (min-width: 601px) {
  #action {
    position: relative;
    padding-bottom: 0px;
  }
}
#action #refresh {
  float: left;
}
